@{
    ViewData["Title"] = "Success";
}

<div class="container mt-5 text-center">

    <h1 class="text-success">
        🎉 Order Placed Successfully!
    </h1>

    <p class="mt-3">
        Thank you for shopping with CartNest.
    </p>

    <a asp-area="User"
       asp-controller="User"
       asp-action="Welcome"
       class="btn btn-primary">

        Continue Shopping

    </a>

</div>